<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276354942652-1qqfpbuihiq6na47llj6s8v9eunocbis.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276354942652-1qqfpbuihiq6na47llj6s8v9eunocbis</string>
	<key>API_KEY</key>
	<string>AIzaSyBWadmNcP-l7mLydymmNr45clnQ6KQrzsw</string>
	<key>GCM_SENDER_ID</key>
	<string>276354942652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>niamhpower.Kickr</string>
	<key>PROJECT_ID</key>
	<string>kickr-ffe03</string>
	<key>STORAGE_BUCKET</key>
	<string>kickr-ffe03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276354942652:ios:24e9ca8c0e9f4552dff2b9</string>
</dict>
</plist>